---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PROJECTS } from "@consts";
import { Project } from "@types"; // Assuming you have a Project type

const projects = (await getCollection("projects"))
  .filter((project: Project) => !project.data.draft)
  .sort((a: Project, b: Project) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          Projects
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {
            projects.map((project: Project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
